* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 35px 90px;
    background: #f3f3f3;
}

.logo {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.1;
}

/* NAVIGATION */

nav {
    background: white;

    padding: 45px 120px;

    display: flex;
    gap: 90px;

    border-radius: 2px;
}

nav a {
    text-decoration: none;
    color: black;

    font-size: 1.2rem;
    font-weight: bold;

    transition: 0.3s;
}

nav a:hover {
    color: pink;
}

/* HERO SECTION */

.hero {
    height: 85vh;

    background:
        linear-gradient(rgba(0,0,0,0.35),
        rgba(0,0,0,0.35)),
        url("images/banner.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* HERO TEXT */

.hero-text h1 {
    color: white;

    font-size: 3rem;
    font-weight: bold;

    margin-bottom: 15px;
}

.hero-text p {
    color: white;

    font-size: 1.2rem;

    margin-bottom: 20px;
}

/* BUTTON */

.hero-text button {
    padding: 18px 40px;

    border: none;
    border-radius: 10px;

    background: #f7b6c8;

    color: white;
    font-size: 1.1rem;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.hero-text button:hover {
    background: #f29ab4;
}